* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* font-family: 'Cormorant Garamond', serif; */
/* Farben: rgb(233, 233, 224), #333 */

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

header, main {
    font-family: 'Cormorant Garamond', serif;
    width: 88%;
    margin: 1% auto;

}

header h1 {
    text-align: center;
    margin: 2% 0;
}

header article {
    display: flex;
    justify-content: space-around;
    border-top: 3.2px solid #000;
    border-bottom: 3.2px solid #000;
    padding: 0.3% 0;
}

main {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(5, 18%);
    
    gap: 2%;
    
}

figure img {
    width: 100%;  
    height: 100%;
}

figcaption {
    font-style: italic;
    font-size: 0.8rem;
}

h1.headline {
    grid-column: 1 / span 4;
    text-align: center;
}

.sponsor {
    grid-column: 5 / 6;
    text-align: center;
}

.col1, .col2 {
    display: grid;
    grid-template-rows: 18% auto 47%;
}



.col3 {
    grid-column: 3 / span 2;
    display: grid;
    grid-template-rows: 97% auto; 
    gap: 1%;   
} 



.col4 {
    width: 100%;
    grid-column: 5 / span 1;
    display: grid;
    height: 100%;
    grid-template-rows: 33% 33% 33%;
    align-content: center;
    gap: 2%;
    
}

.box {
    border: 5px double #000;
    text-align: center;
    padding: 7%;
}

.box h3 {
    font-size: 1.5rem;
    padding: 1%;
}

.box p {
    padding: 2%;
}


.best {
    font-size: 1.2em;
    text-decoration: underline;
    color: rgb(233, 233, 224);
    background: #fff;
    padding: 2%;

}

.box img {
    width: 100%;
}

.box h1 {
    font-size: 3rem;
    text-align: center;
    
}















